.content
  %h3= @topic.title
  .topic-owner
    %p.mt10<
      = link_to @topic.user.name, user_path(@topic.user)
      发表于
      = @topic.created_at
  .clear
  .topic-content
    %p= @topic.content
  .topic-comment
    %ul
    - @topic.comments.includes(:user).each do |c|
      %li.comment
        %p<
          评论者：
          = link_to c.user.name, user_path(c.user)
        %p= "标题：#{c.title}"
        %p= "评论：#{c.comment}"
