.content
  .user-show
    = image_tag @user.avatar.medium.url, class: 'fl'
    %h3 #{@user.name}
    = link_to '关注他', "javascript:void(0)", class: 'following-user btn', value: "#{@user.id}" unless current_page?(current_user)
    .clear
    %h3.mt10 #{@user.name}关注的人......
    .mt10
      = render partial: 'users/list', locals: { users: @follow_user }
    .clear
    %h3.mt10 #{@user.name}上传的书......
    = render partial: 'books/list', locals: { books: @upload_books, page: false }
    %h3.mt10 #{@user.name}评论的书
    %ul
      - @comment.each do |c|
        %li.comment
          %p< 
            = @user.name
            对
            = link_to c.commentable.name, book_path(c.commentable)
            的评论
          %p= "标题：#{c.title}"
          %p= "评论：#{c.comment}"
