.form.container.master-container
  = simple_form_for(@book, :html => {:class => 'form-horizontal' }) do |f|
    = f.input :name
    = f.input :content_abstract
    = f.input :author_abstract
    = f.input :author
    = f.input :ISBN
    = f.input :content
    = f.button :submit
