- books.each do |book|
  .book
    %a{ href: book_path(book) }
      = image_tag book.cover.small.url, class: 'thumbnail fl'
    %p<
      书名：
      = link_to book.name, book_path(book), class: 'name'
    %p 作者：#{book.author }
    %p<
      = link_to(book.user.name, user_path(book.user))
      上传于
      = book.created_at
    .clear
= paginate books if page
