.brief
  %h3.name= @book.name
  = image_tag @book.cover.medium.url, class: 'fl'
  .book-meta
    %p= "作者：#{@book.author}"
    %p= "ISBN：#{@book.ISBN}"
    %p<
      添加者：
      = link_to @book.user.name, user_path(@book.user)
    %p= "添加时间：#{@book.created_at}"
    %p< 
      标签：
      - @book.tags.each do |t|
        = link_to t.name, books_tag_path(t.name)
  .clear
.abstract
  %h3.content_abstract 内容简介......
  %p.intro= @book.content_abstract
  %h3.author_abstract 作者简介......
  %p.intro= @book.author_abstract
.download
  %h3 下载......
  = link_to @book.name, @book.content.url
.comment
  %h3 书评......
  %ul
  - @book.comments.includes(:user).each do |c|
    %li
      %p= "标题：#{c.title}"
      %p<
        评论者：
        = link_to c.user.name, user_path(c.user)
      %p= "评论：#{c.comment}"
.commenting
  %h3 写下你的书评
  - if current_user
    = simple_form_for(@comment, html: { class: 'mt10' }, url: "/books/#{@book.id}/comment") do |f|
      = f.input :title, label: '标题'
      = f.input :comment, label: '评论', input_html: { rows: 8, style: "margin: 0px; width: 400px" }
      = f.button :submit, value: '提交',  style: "margin-left: 300px;"
  - else
    %p 请登录后评论
    = link_to '登录', new_user_session_path, class: 'btn'
