.content
  .login-form-wrapper
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %h1 登录
      %fieldset
        - if flash[:alert]
          .alert-message.error= t(flash[:alert])
        = f.label :email, '电子邮箱'
        .input= f.text_field :email, :placeholder => '电子邮箱', :autofocus => true, :label => '电子邮箱', class: 'xlarge'
        = f.label :password, '密码'
        .input= f.password_field :password, :placeholder => '密码', :label => '密码', class: 'xlarge'
        .clearfix
          = f.check_box :remember_me
          = f.label :remember_me, '记住我', class: 'inline-label'
          %span.forget-serect= link_to '忘记密码', new_password_path(resource_name)
      .actions
        %button.btn.large.primary{ :type => 'submit' }= '登录'
