%h1 Listing book_commets

%table
  %tr
    %th Commet
    %th
    %th
    %th

  - @book_commets.each do |book_commet|
    %tr
      %td= book_commet.commet
      %td= link_to 'Show', book_commet
      %td= link_to 'Edit', edit_book_commet_path(book_commet)
      %td= link_to 'Destroy', book_commet, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Book commet', new_book_commet_path
