.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
      %a.brand{href: '/'} 书
      .nav-collapse
        %ul.nav
          %li
            = link_to '书籍', books_path
          %li
            = link_to '上传', new_book_path
          %li
            = link_to '论坛', '/'
          %li
            = link_to '成员', users_path
        = csrf_meta_tags
        %form.navbar-search.pull-left{ action: '/books/search' }
          -#%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
          %input.search-query.span3{ placeholder: '输入书籍名查找', name: 'book_name' }
        %ul.nav.pull-right
          - if current_user
            = render partial: 'layouts/user_profile'
          - else
            = render partial: 'layouts/guest_profile'

